<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<nav th:fragment="menu">
  <ul class="d-flex justify-content-center flex-wrap m-0 p-0 list-unstyled">
    <li class="mx-3"><a th:href="@{/}">INICIO</a></li>
    <li class="mx-3"><a th:href="@{/colecciones}">COLECCIONES</a></li>
    <li class="mx-3"><a th:href="@{/camisas}">CAMISAS</a></li>
    <li class="mx-3"><a th:href="@{/pantalones}">PANTALONES</a></li>
    <li class="mx-3"><a th:href="@{/vestidos}">VESTIDOS</a></li>
    <li class="mx-3"><a th:href="@{/accesorios}">ACCESORIOS</a></li>
    <li class="mx-3"><a th:href="@{/contacto}">CONTACTENOS</a></li>
  </ul>
</nav>